<form  class="form-horizotal" role="form" {{action "save" projectStage project on="submit"}}> <!-- horizontal form -->
  {{#mab-dropdown-label
    options=stages
    selected=selectedStage
    displayText=(t 'product.basic.commonWords.stage')
    size="4" as |item|}}
    {{item.name}}
  {{/mab-dropdown-label}}

  {{mab-input-label field = projectStage.name displayText=(t 'product.basic.commonWords.name') size="12"}}
  {{mab-input-date-label field = projectStage.startdate displayText=(t 'product.basic.commonWords.initialDate') size="4"}}
  {{mab-input-date-label field = projectStage.enddate displayText=(t 'product.basic.commonWords.endDate') size="4"}}
  {{mab-input-label field = projectStage.total displayText=(t 'product.basic.commonWords.total') size="4"}}
  <br/>
  <div class="form-group">
    <div class="pull-right" style="margin-top: 20px;">
      {{#link-to "company.projects.project.etapas"}}<button class="btn btn-default">{{t 'product.basic.buttonText.cancel'}}</button>{{/link-to}}
      <button type="submit" class="btn btn-default">{{t 'product.basic.buttonText.save'}}</button>
    </div>
  </div>
</form>
