{{#link-to "company.projects.project.stages.new"}}<button class="btn btn-default">{{t 'product.basic.commonWords.newStage'}}</button>{{/link-to}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{t 'product.basic.commonWords.name'}}</th>
      <th>{{t 'product.basic.commonWords.initialDate'}}</th>
      <th>{{t 'product.basic.commonWords.endDate'}}</th>
      <th>{{t 'product.basic.commonWords.totalBudgeted'}}</th>
      <th>{{t 'product.basic.commonWords.totalSpent'}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model.projectStages as |projectStage|}}
    <tr>
      <td>{{projectStage.stage.name}}</td>
      <td>{{format-date projectStage.startdate localeMatcher='best fit'}}</td>
      <td>{{format-date projectStage.enddate localeMatcher='best fit'}}</td>
      <td>{{format-number projectStage.total style='currency' currency='BRL' fallback='nothing'}}</td>
      <td>{{format-number projectStage.totalSpent style='currency' currency='BRL' fallback='nothing'}}</td>
      <td>
        {{#unless projectStage.totalSpent}}
          <button class="btn btn-default" {{action "remove" projectStage}}>{{t 'product.basic.buttonText.delete'}}</button>
        {{/unless}}

        {{#link-to "company.projects.project.stages.stage" projectStage.id}}
          <button class="btn btn-default">{{t 'product.basic.buttonText.details'}}</button>
        {{/link-to}}
        {{#link-to "company.projects.project.stages.stage.edit" projectStage.id}}
          <button class="btn btn-default">{{t 'product.basic.buttonText.edit'}}</button>
        {{/link-to}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
