<h3>{{t 'product.basic.commonWords.location'}}: {{model.location}}</h3>
<h3>{{t 'product.basic.commonWords.totalBudgeted'}}: {{model.total}}</h3>
<h3>{{t 'product.basic.commonWords.totalWithProfit'}}: {{model.totalWithProfit}}</h3>
<h3>{{t 'product.basic.commonWords.totalSpent'}}: {{model.totalSpent}}</h3>
