<h1>Etapas</h1>
{{#show-on-add-form  modelIsInValid=modelIsInValid
    onCloseClicked="closeAddPanel" onAddClicked="addStage" itemAdded="name" }}
  <div class="form-group {{if modelIsInValid "has-error"}}">
    <label for="nameInput">{{t 'product.basic.commonWords.name'}}</label>
    {{input value=name class="form-control" id="nameInput" }}
  </div>
{{/show-on-add-form}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{t 'product.basic.commonWords.name'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |stage|}}
    <tr>
      <td>{{stage.name}}</td>
      <td><button type="submit" class="btn btn-default" {{action "removeStage" stage}}>{{t 'product.basic.buttonText.delete'}}</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
