<h1>{{model.projectStage.name}}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{{t 'product.basic.commonWords.description'}}</th>
      <th>{{t 'product.basic.commonWords.total'}}</th>
      <th>{{t 'product.basic.commonWords.itemType'}}</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    {{#if model.projectStage.totalSpentInOther}}
    <tr>
      <td>Other</td>
      <td>{{format-number model.projectStage.totalSpentInOther style='currency' currency='BRL' fallback=''}}</td>
      <td></td>
      <td></td>
    </tr>
    {{/if}}
    <tr>
      <td>{{t 'product.basic.commonWords.total'}}</td>
      <td>{{format-number model.projectStage.totalSpent style='currency' currency='BRL' fallback=''}}</td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
      {{#each model.projectStage.expenseItems as |item|}}
      <tr>
        <td>{{item.description}}</td>
        <td>{{format-number item.total style='currency' currency='BRL' fallback='nothing'}}</td>
        <td>{{if item.itemType item.itemType.name 'N/A'}}</td>
        </tr>
      {{/each}}
  </tbody>
</table>
