<h1>Etapas</h1>
<form class="form-inline pull-right" role="form" {{action "addStage" name on="submit"}}> <!-- horizontal form -->
    <div class="form-group">
      <label for="nameInput">{{t 'product.basic.commonWords.name'}}</label>
      {{input value=name class="form-control" id="nameInput" }}
    </div>
    <button type="submit" class="btn btn-default">{{t 'product.basic.buttonText.add'}}</button>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{t 'product.basic.commonWords.name'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.stages as |stage|}}
    <tr>
      <td>{{stage.name}}</td>
      <td><button type="submit" class="btn btn-default" {{action "removeStage" stage}}>{{t 'product.basic.buttonText.delete'}}</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
