<h1>Novo Projeto</h1>
<form  role="form" {{action "add" model.project on="submit"}}> <!-- horizontal form -->
    <div class="form-group">
      <label for="nameInput">{{t 'product.basic.commonWords.name'}}</label>
      {{input value=model.project.name class="form-control" id="nameInput" }}
    </div>
    <div class="form-group">
      <label for="locationInput">{{t 'product.basic.commonWords.address'}}</label>
      {{input value=model.project.location class="form-control" id="locationInput" }}
    </div>
    <div class="form-group">
      <label for="totalInput">{{t 'product.basic.commonWords.total'}}</label>
      {{input value=model.project.total class="form-control" id="totalInput" }}
    </div>
    <div class="form-group">
      <label for="totalWithProfitInput">{{t 'product.basic.commonWords.totalWithProfit'}}</label>
      {{input value=model.project.totalWithProfit class="form-control" id="totalWithProfitInput" }}
    </div>

    <button type="submit" class="btn btn-default">Adicionar</button>
    <button class="btn btn-default" {{action "cancel" model.project}}>Cancelar</button>
    <!-- {{#link-to "company.projects"}}<button class="btn btn-default">Cancelar</button>{{/link-to}} -->
</form>
