<div class="col-md-10">
  <form class="form-inline pull-right" role="form" {{action "add" model.newItem on="submit"}}> <!-- horizontal form -->
    <div class="form-group">
      <label for="descriptionInput">Descricao</label>
      {{mab-input value=model.newItem.description class="form-control" id="descriptionInput" }}
    </div>
    <div class="form-group">
      <label for="totalInput">Total</label>
      {{mab-input value=model.newItem.total class="form-control" id="totalInput" }}
    </div>
    <button type="submit" class="btn btn-default">Adicionar</button>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Descricao</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.projectStage.expenseItems as |item|}}
      <tr>
        <td>{{item.description}}</td>
        <td>{{item.total}}</td>
        <td>
          <button class="btn btn-default" {{action "remove" item}}>remover</button>
          {{#link-to "projects.project.execution.stage.expenses.expense.edit" item.id}}<button class="btn btn-default">editar</button>{{/link-to}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
