{{#link-to "projects.project.etapas.new"}}<button class="btn btn-default">Nova Etapa</button>{{/link-to}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
      <th>Total Orcado</th>
      <th>Total Gasto</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.projectStages as |projectStage|}}
    <tr>
      <td>{{projectStage.name}}</td>
      <td>{{format-date projectStage.startdate localeMatcher='best fit'}}</td>
      <td>{{format-date projectStage.enddate localeMatcher='best fit'}}</td>
      <td>{{format-number projectStage.total style='currency' currency='BRL' fallback='nothing'}}</td>
      <td>{{format-number projectStage.totalExpense style='currency' currency='BRL' fallback='nothing'}}</td>
      <td><button class="btn btn-default" {{action "remove" projectStage}}>remover</button>
      {{#link-to "projects.project.etapas.etapa.edit" projectStage}}
        <button class="btn btn-default">editar</button>
      {{/link-to}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
