{{#link-to "projects.project.etapas.new"}}<button class="btn btn-default">Nova Etapa</button>{{/link-to}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.projectStages as |projectStage|}}
    <tr>
      <td>{{projectStage.name}}</td>
      <td>{{projectStage.startdate}}</td>
      <td>{{projectStage.enddate}}</td>
      <td>{{projectStage.total}}</td>
      <button class="btn btn-default" {{action "remove" projectStage}}>remover</button>
      <td>{{#link-to "projects.project.etapas.etapa.edit" projectStage}}<button class="btn btn-default">editar</button>{{/link-to}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
