<h1>Nova Etapa</h1>
<form  role="form" {{action "add" model.projectStage on="submit"}}> <!-- horizontal form -->
    <div class="form-group">
      <label for="nameInput">Nome</label>
      {{input value=model.projectStage.name class="form-control" id="nameInput" }}
    </div>
    <div class="form-group">
      <label for="nameTotal">Total</label>
      {{input value=model.projectStage.total class="form-control" id="nameTotal" }}
    </div>
    <div class="form-group">
      <label for="nameStartDate">Start Date</label>
      {{input value=model.projectStage.startDate class="form-control" id="nameStartDate" }}
    </div>
    <div class="form-group">
      <label for="nameEndDate">End Date</label>
      {{input value=model.projectStage.endDate class="form-control" id="nameEndDate" }}
    </div>
    <button type="submit" class="btn btn-default">Adicionar</button>
    {{#link-to "projects.project.etapas"}}<button class="btn btn-default">Cancelar</button>{{/link-to}}
</form>
